<div class="holder flex justify-center pt-8 pb-6">
  <div class="project px-6 lg:w-7/12 w-full">
    <h1
      class="text-white font-semibold text-3xl sm:text-5xl md:text-5xl mb-14 text-center"
    >Movie Searcher</h1>
    <div class="text-center mb-8 h-12 relative">
      <input
        type="text"
        class="h-full outline-none px-2 py-1 rounded-md text-sm border border-white cinema-holder w-9/12 sm:w-10/12 bg-transparent text-white"
        placeholder="Search for a movie..."
      />
      <button
        class="px-4 h-full rounded-lg ml-2 bg-yellow-400 hover:bg-yellow-300 search-btn"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <div class="h-52 bg-white absolute left-14 rounded-md top-16 w-3/4 search-results-shower text-white hidden overflow-auto px-3 py-2 custom-scrollbar">
        <p class="text-left mb-4">Total Results: <span class="results-total"></span></p>
        <ul class="search-list">
          {{!-- <div class="text-left flex gap-4">
            <div class="w-20"><img src="https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg" class="object-cover w-full h-auto rounded-sm"></div>
            <div class="flex flex-col mb-5">
              <p>Movie name</p>
              <p>year</p>
            </div>
          </div> --}}
        </ul>
      </div>
    </div>
    <div
      class="text-white details-shower bg-gray-900 rounded-md px-6 pb-5 pt-7 md:pt-5 flex flex-col gap-3 w-full"
    >
      <div
        class="row-1 flex flex-col items-center sm:flex-row gap-5 mb-5 md:mb-3"
      >
        <div class="w-48 mb-4">
          <img
            src="{{movie.Poster}}"
            class="object-cover w-full h-auto movie-img rounded-md"
          />
        </div>
        <div
          class="movie-info flex-1 flex flex-col items-center justify-center gap-6"
        >
          <h3 class="font-bold text-xl movie-name">{{movie.Title}}</h3>
          <div class="flex items-center gap-2">
            <div class="w-4">
              <img src="/images/star.png" class="object-cover w-full h-auto" />
            </div>
            <p class="movie-imdb-rating mt-0.5">{{movie.imdbRating}}</p>
          </div>
          <div class="flex gap-4">
            <p class="text-sm movie-type">{{movie.Type}}</p>
            <p class="text-sm movie-year">{{movie.Year}}</p>
            <p class="text-sm movie-duration">{{movie.Runtime}}</p>
          </div>
          <div class="flex gap-5">
            <p
              class="text-sm border border-white p-1 rounded-sm movie-genre"
            >{{movie.Genre}}</p>
          </div>
        </div>
      </div>
      <div class="row-2 flex flex-col gap-1">
        <h3>Plot : </h3>
        <p class="text-sm movie-plot">{{movie.Plot}}</p>
      </div>
      <div class="row-3 flex flex-col gap-1">
        <h3>Cast : </h3>
        <p class="text-sm movie-cast">{{movie.Actors}}</p>
      </div>
      <div class="row-5 flex flex-col gap-1">
        <h3>Writer : </h3>
        <p class="text-sm movie-writer">{{movie.Writer}}</p>
      </div>
      <div class="row-6 flex items-center gap-1">
        <h3>Director : </h3>
        <p class="text-sm movie-director">{{movie.Director}}</p>
      </div>
      <div class="row-7 flex items-center gap-1">
        <h3>Release Date : </h3>
        <p class="text-sm movie-release">{{movie.Released}}</p>
      </div>
      {{#if movie.totalSeasons}}
        <div class="row-8 flex items-center gap-1 seasons-container">
          <h3>Total seasons : </h3>
          <p class="text-sm series-total-seasons">
            {{movie.totalSeasons}}
          </p>
        </div>
      {{/if}}
      <div class="row-9 flex items-center gap-1">
        <h3>Box office : </h3>
        <p class="text-sm movie-box-office">
          {{#if movie.BoxOffice}}
            {{movie.BoxOffice}}
          {{else}}
            N/A
          {{/if}}
        </p>
      </div>
      <div class="row-10 flex flex-col gap-1">
        <h3>Awards : </h3>
        <p class="text-sm movie-awards">
          {{#if movie.Awards}}
            {{movie.Awards}}
          {{else}}
            N/A
          {{/if}}
        </p>
      </div>
    </div>
  </div>
</div>